script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
each name in ["jquery.min", "cookie", "jquery.mousewheel", "jquery.jscrollpane.min", "vuex", "vue.min", "jquery.ui-slider", "slick", "jquery.fancybox", "common", "common-second"]
	script(src='js/'+name+".js")