@import "vars"
@import "functions"

@supports (display: grid)
	// блоки на главной
	.main-news, .main-advantages
		display: grid
		grid-template-columns: persent(560) 50%
	.main-news
		align-items: stretch

	.main-advantages
		grid-gap: 25px 43px

	.main-news
		grid-gap: 16px 43px

	.main-news__important, .main-advantages__list
		+size(auto)
		position: static
		align-self: stretch;

	.main-advantages__list
		grid-row: 1 / 3

	.main-news__important
		grid-row: 1 / 4

	.main-news__one, .main-advantages__app, .main-advantages__subscribe
		width: auto

		&:not(:last-child)
			margin-bottom: 0

	//каталог плиткой
	// .cat-plate
	// 	display: grid
	// 	grid-template-columns: repeat(3, 1fr)
	// 	grid-gap: rem(73) 0
	// 	margin-bottom: 0

	// 	&__one

	// 		&-wrap
	// 			width: auto
	// 			margin-bottom: 0

	//каталог 1 и 2 уровня
	// .cat1
	// 	display: grid
	// 	grid-template-columns: repeat(3, 1fr)
	// 	grid-gap: 42px
	// 	margin: 0

	// 	&__one
	// 		width: auto !important
	// 		margin: 0

	// 		&--big
	// 			grid-column: 1 / span 2

	//Форма офопмления заказа
	// .order-form

	// 	&__wrap
	// 		display: grid
	// 		grid-gap: 30px 46px
	// 		grid-template-columns: repeat(3, 1fr)
	// 		margin: 0

	// 	&__input-cont
	// 		margin: 0
	// 		width: auto

	// 		&--last
	// 			grid-column: 2 / span 2


@media screen and (max-width: 1200px)
	.main-news, .main-advantages
		grid-gap: 16px 20px
@media screen and (max-width: 660px)
	.main-news, .main-advantages
		display: grid
		grid-template-columns: 100%
	.main-news__cont
		margin-top: 30px
	.main-news__important
		margin-bottom: 0


